@import 'page1';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transform-style: preserve-3d;
}

body {
    // overflow: hidden;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -20;
    opacity: 1;
    transition: opacity 0.5s ease-in;
}    

.loaded {
    opacity: 0;
}

#scene {
    position: relative;
    overflow: hidden;
}

#view {
    position: absolute;
}

#camera {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
}

.page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: calc(50% - 50vh);
    left: calc(50% - 50vw);

    &__wrapper {
        height: 100%;
        
        * {
            transform-style: flat;
        }
        
        iframe {
            height: 100%;
            width: 100%;
        }
    }
    &__name {
        font-size: 150px;
        transform: translate3d(-20vw, -100vh,-100vh);
    }
}

@for $i from 1 through 3 {
    .item-#{$i} {
        border: 10px solid rgb((random(256) - 1), (random(256) - 1), (random(256) - 1));
    }
}

#skybox {
    position: absolute;

    div {
        width: calc(100vw + 1px);
        height: calc(100vw + 1px);
        background-size: 200%;
        position: absolute;
        top: calc(50% - 50vw);
        left: calc(50% - 50vw);

    }
    .front,
    .back {
        background-image: url('../resources/images/skybox-front-back.jpg');
        background-image: url('../resources/images/monochrome/skybox-front-back.jpg');
        background-image: url('../resources/images/brightness/skybox-front-back.jpg');
    }
    .top,
    .down {
        background-image: url('../resources/images/skybox-top-down.jpg');
        background-image: url('../resources/images/monochrome/skybox-top-down.jpg');
        background-image: url('../resources/images/brightness/skybox-top-down.jpg');
    }
    .left,
    .right {
        background-image: url('../resources/images/skybox-left-right.jpg');
        background-image: url('../resources/images/monochrome/skybox-left-right.jpg');
        background-image: url('../resources/images/brightness/skybox-left-right.jpg');
    }
    .front,
    .top,
    .left {
        background-position: 0;
    }
    .back,
    .down,
    .right {
        background-position: 100% 0;
    }
    .top {
        transform: rotateX(90deg) rotateZ(90deg) translateZ(50vw);
    }
    .down {
        transform: rotateX(-90deg) rotateZ(-90deg) translateZ(50vw);
    }
    .front {
        transform: translateZ(50vw);
    }
    .back {
        transform: rotateY(180deg) translateZ(50vw);
    }
    .left {
        transform: rotateY(-90deg) translateZ(50vw);
    }
    .right {
        transform: rotateY(90deg) translateZ(50vw);
    }
}

.nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    transition: bottom 0.4s;
    
    &:hover &__wrapper {
        bottom : 0;
    }

    &::before {
        content: '\2261';
        position: fixed;
        width: 50px;
        height: 50px;
        top: -40px;
        left: calc(50% - 25px); 
        font-size: 2em;
        text-align: center;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        background-color: rgba(50, 50, 90, 1);
        color: white;
    }

    &__wrapper {
        position: fixed;
        bottom: -55px;
        height: 60px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: bottom 0.4s;
        background-color: rgba(50, 50, 90, 1)
    }

    button {
        font-size: 1em;
        height: 40px;
        width: 140px;
        max-width: 49%;
        padding: 5px;
        margin: 5px;
        cursor: pointer;
    }

    span {
        font-weight: bold;
        font-size: 1.5em;
        color: white;
    }

    &__prev {

    }

    &__next {

    }
}
